<!DOCTYPE html>
<html lang="es-ES">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="img/cropped-favicon-192x192.png" />
	<title>Login</title>
	<link rel="stylesheet" href="css/main.css">
    <% include partials/head.html %>
</head>

<body class="page wide wave-style">
    <div class="page">
        <!-- top panel -->
      
        <!-- / top panel --> 
        <!-- header container -->
        <div class='header_cont'>
            <div class='header_mask'>
                <div class='header_pattern'></div>
                <div class='header_img'></div>
            </div>
            <header class='site_header logo-in-menu' data-menu-after="3">
                <div class="header_box">
                    <div class="container">
                        <!-- logo -->
                        <div class="header_logo_part with_border" role="banner">
                            <a class="logo" href="./"><img src='img/logoChico.png' data-at2x='img/logo1-304vqrnv7ccxz47xp4tw5m@2x.png' alt /></a>
                        </div>
                        <!-- / logo -->
                        <!-- menu -->
                       <!-- Menu Navegación-->
                       <% include partials/navigation.html %>
                       <!-- Menu Navegación-->
                        <!-- / menu -->
                    </div>
                </div>
            </header>
            <!-- #masthead -->
        </div>
        <!-- breadcrumbs -->
        <section class='page_title wave'>
            <div class='container'>
                <div class='title'>
                    <h1>Ejercicio 4</h1></div>
                <nav class="bread-crumbs"><a href="./" >Inicio</a><i class="delimiter fa fa-chevron-right"></i><span class="current">Dinamicas</span></nav>
                <!-- .breadcrumbs -->
            </div>
            <canvas class='breadcrumbs' data-bg-color='#f8f2dc' data-line-color='#f9e8b2'></canvas>
        </section>
        <!-- breadcrumbs / -->
        <!-- main container -->
        <div id="main" class="site-main">
            <div class="page_content">
                <!-- pattern container / -->
                              <main>
                    <!-- benefits section  MIS ACCIONES-->
                   
                    <h3>Resuelve las siguientes operaciones matemáticas (Multiplicación)</h3>
 <!--List-->
 <div class="col-md-7 mx-auto d-block">
    <table class="table table-bordered table-hover ">
            <tbody>
               <tr>
                   <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
                   <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
                   <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>                                                          
               </tr>
               <tr>
                <td><input type="text" name="ejer4_1" placeholder="Ingresa la respuesta" calss="form-control"> </td>
                <td><input type="text" name="ejer4_2" placeholder="Ingresa la respuesta" calss="form-control"> </td>
                <td><input type="text" name="ejer4_3" placeholder="Ingresa la respuesta" calss="form-control"> </td>             
            </tr>
            <tr>
                <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
                <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
                <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>                                                          
            </tr>
            <tr>
             <td><input type="text" name="ejer4_4" placeholder="Ingresa la respuesta" calss="form-control"> </td>
             <td><input type="text" name="ejer4_5" placeholder="Ingresa la respuesta" calss="form-control"> </td>
             <td><input type="text" name="ejer4_6" placeholder="Ingresa la respuesta" calss="form-control"> </td>             
         </tr>
         <tr>
            <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
            <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>
            <td> <a href=""> <img src="img/help2.png" class="mx-auto d-block"></a> </td>                                                          
        </tr>
        <tr>
         <td><input type="text" name="ejer4_7" placeholder="Ingresa la respuesta" calss="form-control"> </td>
         <td><input type="text" name="ejer4_8" placeholder="Ingresa la respuesta" calss="form-control"> </td>
         <td><input type="text" name="ejer4_9" placeholder="Ingresa la respuesta" calss="form-control"> </td>             
     </tr>
        </tbody>
    </table>

</div>                      
                    <!-- benefits section / -->
                </main>
              
                <div class="footer_image"></div>
            </div>
            <!-- svg filter -->
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style='display:none;'>
                <defs>
                    <filter id="goo">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                        <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                        <feComposite in="SourceGraphic" in2="goo" operator="atop" />
                    </filter>
                </defs>
            </svg>
            <!-- svg filter / -->
        </div>
        <!-- #main -->
        <!-- footer -->
        <% include partials/footer.html %>
    </div>
    <!-- #page -->
    <div class='scroll_top animated'></div>
    <div id="lang_sel_footer">
        <ul>
            <li>
                <a href="features-benefits.html" class="lang_sel_sel"><img src="img/en.png" alt="English" class="iclflag" title="English" />&nbsp;English</a>
            </li>
            <li>
                <a href="#"><img src="img/fr.png" alt="Français" class="iclflag" title="Français" />&nbsp;Français</a>
            </li>
            <li>
                <a href="#"><img src="img/de.png" alt="Deutsch" class="iclflag" title="Deutsch" />&nbsp;Deutsch</a>
            </li>
        </ul>
    </div>
    <% include partials/scritsts.html %>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
