<div class='footer_wrapper_copyright'>
        <!-- canvas -->
        <div class='half_sin_wrapper'>
            <canvas class='half_sin' data-bg-color='23,108,129' data-line-color='23,108,129'></canvas>
        </div>
        <!-- / canvas -->
        <!-- copyright -->
        <div class='copyrights_area'>
            <!-- canvas -->
            <div class='half_sin_wrapper'>
                <canvas class='footer_half_sin' data-bg-color='14,64,77' data-line-color='14,64,77'></canvas>
            </div>
            <!-- / canvas -->
            
        </div>
        <!-- / copyright -->
    </div>