 <!-- menu -->
 <div class="header_nav_part">
    <nav class="main-nav-container a-right">
        <div class="mobile_menu_header">
            <i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
        </div>
        <ul id="menu-main-menu" class="main-menu menu-bees">
            <!-- menu item -->
            <li class="menu-item current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children bees-start">
                <a href="./">
                    <div class=""><span></span>
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>Inicio
                    <div class="canvas_wrapper">
                        <canvas class="menu_dashed"></canvas>
                    </div>
                </a>
                <span class='button_open'></span>
                <ul class="sub-menu">
                    <li class="menu-item back"><a href="#"><em>←</em>&nbsp;BACK</a>
                    </li>
                    <li class="menu-item current-menu-item page_item current_page_item"><a href="./">Nosotros</a></li>
                    <li class="menu-item"><a href="babysitter.html">Contacto</a></li>
                </ul>
            </li>
            <!-- / menu item -->
            <!-- menu item -->
            <li class="menu-item menu-item-has-children"><a id="nav_menu1" href="features-benefits.html">Padres<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
    
            </li>
            <!-- / menu item -->
            <!-- menu item -->
            <li class="menu-item menu-item-has-children"><a id="nav_menu2" href="/base.html">Juegos<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
               
            </li>
            <!-- / menu item -->
            <!-- menu item -->
            <li class="menu-item menu-item-has-children right"><a id="nav_menu3" href="portfolio-four-columns.html">Imágenes<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
               
            </li>
            <!-- / menu item -->
            <!-- menu item -->
            <li class="menu-item menu-item-has-children right"><a id="nav_menu4" href="blog-right-sidebar.html">Maestras<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
                <span class='button_open'></span>
                
            </li>
            <!-- / menu item -->
            <!-- menu item -->
            <li class="menu-item right bees-end">
                <a id="nav_menu5" href="contact-us.html">
                    <div class=""><span></span>
                        <div class="line-one"></div>
                        <div class="line-two"></div>
                    </div>Nosotros
                    <div class="canvas_wrapper">
                        <canvas class="menu_dashed"></canvas>
                    </div>
                </a>
            </li>
            <!-- / menu item -->
        </ul>
    </nav>
</div>
<!-- / menu -->