<script type='text/javascript' src='tuner/tuner/js/colorpicker.js'></script>
<script type='text/javascript' src='tuner/tuner/js/scripts.js'></script>
<script type='text/javascript' src='js/retina_1.3.0.js'></script>
<script type='text/javascript' src='js/modernizr.js'></script>
<script type='text/javascript' src='js/owl.carousel.js'></script>
<script type='text/javascript' src='js/TweenMax.min.js'></script>
<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='js/jquery.fancybox.js'></script>
<script type='text/javascript' src='js/select2.min.js'></script>
<script type='text/javascript' src='js/wow.min.js'></script>
<script type='text/javascript' src='js/jquery.validate.min.js'></script>
<script type='text/javascript' src="js/jquery.form.min.js"></script>
<script type='text/javascript' src='js/scripts.js'></script>
<script type='text/javascript' src="js/jquery.tweet.js"></script>