<div class='site_top_panel wave slider'>
        <!-- canvas -->
        <div class='top_half_sin_wrapper'>
            <canvas class='top_half_sin' data-bg-color='#ffffff' data-line-color='#ffffff'></canvas>
        </div>
        <!-- / canvas -->
        <div class='container'>
            <div class='row_text_search'>
                <div id='top_panel_text'><a href="tel:+507 6449-8516"><i class="fa fa-phone-square"></i> +507 6449-8516 </a>;
                    <a href=<%= email %> <i class="fa fa-envelope-o"></i><%= email %></a>
                </div>
                <form method="get" class="search-form" action="#">
                    <label>
                        <span class="screen-reader-text">Search for:</span>
                        <input type="text" class="search-field vova" value="" name="s" title="Search for:" />
                    </label>
                    <input type="submit" class="search-submit" value="Search" />
                    <input type='hidden' name='lang' value='en' />
                </form>
            </div>
            <div id='top_panel_links'>
                <div class='search_icon'></div>
                <div id='top_social_links_wrapper'>
                    <div class='share-toggle-button'><i class='share-icon fa fa-share-alt'></i></div>
                    <div class='cws_social_links'><a href='http://twitter.com/' class='cws_social_link' title='Twitter'><i class='share-icon fa fa-twitter'></i></a><a href='http://facebook.com/' class='cws_social_link' title='Facebook'><i class='share-icon fa fa-facebook'></i></a><a href='http://dribbble.com/' class='cws_social_link' title='Dribbble'><i class='share-icon fa fa-dribbble'></i></a><a href='https://plus.google.com/' class='cws_social_link' title='Google'><i class='share-icon fa fa-google-plus'></i></a></div>
                </div>
            
                
            </div>
            <div class="site_top_panel_toggle"></div>
        </div>
    </div>